:root {
  --lime-green: #b4ec34;
  --dark-lime-green: #7aa037;
  --black: #142122;
  --gray: #828b94;
  --dark-gray: #4e535c;
  --light-gray: #e5e7eb;
  --white: #ffffff;
  --blue: #1f80f3;
  --red: #f40722;
  --orange: #ff9c1b;
  --green: #4bb84a;
  --purple: rgb(85, 48, 156);
  --pink: #e770be;
}

body,
html {
  font-family: "Helvetica", sans-serif;
  height: 100vh;

}

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.upper-pane {
  padding-left: 10vw;
  height: 25%;
  background-color: var(--lime-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
}

.upper-left-pane {
  display: flex;
  align-items: center;
}

.user-greeting-wrapper {
  display:flex;
  flex-direction: column;
}

#icon {
  width: 140px;
  height: 140px;
  /* border-radius: 50%; */
  overflow: hidden;
  margin-right: 2vw;
}

#icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info-button {
  width: 40%;
}

.lower-pane {
  height: 75%;
  background-color: var(--dark-gray);
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  overflow-y: scroll;
}

.app-name{
  font-size: 100px;
  font-weight: bold;
}

/* Profile Info Page */
.alt-lower-pane {
  display: flex;
  align-items: center;
  height: 75vh;
  background-color: var(--dark-gray);
  padding: 20px;
}

.profile-box {
  padding-left: 50px;
  height: 60vh;
  width: 100%;
  background-color: var(--light-gray);
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  border-radius: 15px;
}

.list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.list > h3 {
  margin-left: 40px;
  margin-right: 40px;
}
/* Display data Lower Pane */

.data-box {
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  width: 100%;
  margin-top: 5vh;
  border-radius: 15px;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wideBox > h3 {
  margin-bottom: 3vh;
  margin-left: 1.25vw;
}

.small-box > h3 {
  margin-bottom: 2.5vh;
}

.box-title {
  margin-bottom: 5vh;
  color: var(--gray);
}

.activity-box-contents-container{
  display:flex;
  flex-direction: column;
}

.box-contents-wrapper{
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.activity-box-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-contents-container {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
}

.sleep-data-wrapper {
  display: flex; 
  /* justify-content: ; */
}

.box-contents {
  width: 50%;
  margin-right: 20px;
}

.box-contents2 {
  width: 100%;
  /* margin-right: 25px; */
  /* margin-left: 5px; */
}

.box-contents2 > h3 {
  white-space: nowrap;
}

.small-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.small-box-right{
  margin-left: 50px;
}

.wideBox {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  margin-right: 80px;
}

.sub-box > .number-with-units > h3 {
  font-size: xx-large;
}

.number-with-units > p,
.data-analysis > p {
  font-weight: bolder;
  color: var(--gray);
}


.number-with-units {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.number-with-units > h2 {
  font-size: 60px;
  font-weight: bold;
}

.quality {
  margin-left: 20px;
  color: var(--pink);
  font-size: 30px;
}

#box1 > div > h2 {
  color: var(--dark-lime-green);
}

#box2 > div > h2 {
  color: var(--blue);
}

.sleep-box > div > h2 {
  color: var(--purple);
}

.box-title > h2 {
  color: var(--red);
}

#exception {
  margin-top: 27px;
}

.hidden {
  display: none;
}

.sub-box {
  display: flex;
  flex-direction: column;
}

.week-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.graph-chart{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.sleep-graph-wrapper {
  display:flex;
  flex-direction: column;
}

#hydroChart
#sleep-hourly-graph
#sleep-quality-graph{
  width: 60%;
  height: 75%;
  padding-bottom: 20px;
}

.last-night-sleep
.average-sleep 
.sleep-graph-wrapper {
  display:flex;
  flex-direction: column;
}

.activity-trend-graph {
  height: 35%;
}

.activity-data{
  /* height: 120vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-activity-chart {
  margin-bottom: 30px;
}

p.red {
  color: var(--red) !important;
}

p.green {
  color: var(--green)!important;
}

.activity-data-boxes{
  width:20%;
  margin-left: 8%;
}

.first-place{
  color:rgb(193, 33, 33);
}