:root {
  --lime-green: #b4ec34;
  --dark-lime-green: #7aa037;
  --black: #142122;
  --gray: #828b94;
  --dark-gray: #4e535c;
  --light-gray: #e5e7eb;
  --white: #ffffff;
  --blue: #1f80f3;
  --red: #ff4244;
  --orange: #ff9c1b;
  --green: #4bb84a;
  --purple: #b13ee7;
  --pink: #e770be;
}

body,
html {
  font-family: "Helvetica", sans-serif;
  height: 100%;
}
* {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.upper-pane {
  padding-left: 10vw;
  height: 25vh;
  background-color: var(--lime-green);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2vw;
}

#circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lower-pane {
  height: 200vh;
  background-color: var(--dark-gray);
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.alt-lower-pane {
  height: 75vh;
  background-color: var(--dark-gray);
  padding: 20px;
}
.profile-box {
  padding-left: 50px;
  height: 60vh;
  width: 100%;
  background-color: var(--light-gray);
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.list > h3 {
  margin-left: 40px;
  margin-right: 40px;
}

.data-box {
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  width: 100%;
  margin-top: 5vh;
  border-radius: 15px;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.data-box2 {
  justify-content: flex-start;
}

.wideBox > h3 {
  margin-bottom: 3vh;
  margin-left: 1.25vw;
}
.smallBox > h3 {
  margin-bottom: 2.5vh;
}
.box-title {
  margin-bottom: 5vh;
  color: var(--gray);
}
.box-contents-container {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
}
.box-contents {
  width: 50%;
  margin-right: 20px;
}
.box-contents2 {
  width: 50%;
  /* margin-right: 25px; */
  /* margin-left: 5px; */
}
.smallBox {
  width: 20%;
}
.wideBox {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  margin-right: 80px;
}
.sub-box > .number-with-units > h3 {
  font-size: xx-large;
}

.number-with-units > p,
.data-analysis > p {
  font-weight: bolder;
  color: var(--gray);
}


.number-with-units {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.number-with-units > h2 {
  font-size: 60px;
  font-weight: bold;
}

.quality {
  margin-left: 20px;
  color: var(--pink);
  font-size: 30px;
}

#box1 > div > h2 {
  color: var(--dark-lime-green);
}

#box2 > div > h2 {
  color: var(--blue);
}

.sleep-box > div > h2 {
  color: var(--pink);
}

#box4 > h2 {
  color: var(--red);
}

#exception {
  margin-top: 27px;
}

.hidden {
  display: none;
}

.sub-box {
  display: flex;
  flex-direction: column;
}
.week-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.graph-chart{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

#hydroChart{
  width: 60%;
  height: 75%;
  padding-bottom: 20px;
}


.last-night-sleep
.average-sleep 
.sleep-graph-pane {
  display:flex;
  flex-direction: column;
}