:root {
  --lime-green: #b4ec34;
  --dark-lime-green: #1a6d0d;
  --black: #142122;
  --gray: #828b94;
  --dark-gray: #4e535c;
  --light-gray: #e5e7eb;
  --white: #ffffff;
  --blue: #1f80f3;
  --red: #c5031a;
  --orange: #ff9c1b;
  --green: #347d4e;
  --purple: rgb(85, 48, 156);
  --pink: #e770be;
}

body,
html {
  font-family: "Helvetica", sans-serif;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.upper-pane {
  padding-left: 3vw;
  height: 25%;
  background-color: var(--lime-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
}

.upper-left-pane {
  display: flex;
  align-items: center;
}

.user-greeting-wrapper {
  display: flex;
  flex-direction: column;
}

.user-greeting {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

img {
  width: 140px;
  height: 140px;
  overflow: hidden;
  margin-right: 2vw;
}

.user-info-button:hover {
  transform: scale(1.05) rotate(-1deg);
}

.user-info-button {
  width: 40%;
  border-radius: 32px;
  font-size: 15px;
  background-color: var(--black);
  border-radius: 100px;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  touch-action: manipulation;
}

.lower-pane {
  height: 75%;
  background-color: var(--black);
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  overflow-y: scroll;
}

.app-name {
  font-family: "Jost", sans-serif;
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
}

.alt-lower-pane {
  display: flex;
  align-items: center;
  height: 75vh;
  background-color: var(--black);
  padding: 20px;
}

.profile-box {
  padding-left: 50px;
  height: 60vh;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  border-radius: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left-element {
  margin-left: 40px;
  width: 200px;
}

.user-info-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.data-box {
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  width: 100%;
  margin-top: 5vh;
  border-radius: 15px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hydro-box-title,
.box-title {
  margin-bottom: 2vh;
  color: var(--gray);
}

.hydro-box-title {
  display: flex;
  justify-content: space-between;
}

.activity-box-contents-container {
  display: flex;
  flex-direction: column;
}

.box-contents-wrapper {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.activity-box-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-contents-container {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
}

.sleep-data-wrapper {
  display: flex;
}

.box-contents {
  width: 50%;
  margin-right: 20px;
}

.box-contents2 {
  width: 100%;
}

.small-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.small-box-right {
  margin-left: 50px;
}

.data-title {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.units,
.data-analysis > p {
  font-weight: bolder;
  color: var(--dark-gray);
}

.number-with-units {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.number {
  font-size: 60px;
  font-weight: bold;
}

#box1 > div > h2 {
  color: var(--dark-lime-green);
}

#box2 > div > h2 {
  color: var(--blue);
}

.sleep-box > div > h2 {
  color: var(--purple);
}

.box-title > h2 {
  color: var(--red);
}

.hidden {
  display: none;
}

.graph-chart {
  width: 100%;
  height: 100%;
}

.sleep-graph-wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
}

#hydroChart #sleep-hourly-graph #sleep-quality-graph {
  width: 60%;
  height: 75%;
  padding-bottom: 20px;
}

.last-night-sleep .average-sleep .sleep-graph-wrapper {
  display: flex;
  flex-direction: column;
}

.activity-trend-graph {
  height: 35%;
}

.activity-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-activity-chart {
  margin-bottom: 30px;
}

p.red {
  color: var(--red) !important;
}

p.green {
  color: var(--green) !important;
}

.activity-data-boxes {
  width: 20%;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-place {
  color: rgb(193, 33, 33);
}

.fa-solid {
  margin-right: 10px;
}

#box4 {
  height: 80vh;
}

.sortGhost {
  opacity: 0.6;
  background-color: var(--lime-green);
  border: none;
}

.sortable-item-dragging {
  border: solid 3px var(--black);
}

i:hover,
.box-title:hover,
.hydro-box-title:hover {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hydro-data-box {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hydration-input-wrapper {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-hydration-input-button {
  width: 20%;
  border-radius: 15px;
  font-size: 15px;
  background-color: rgba(42, 184, 250, 0.6);
  color: var(--black);
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}

#user-hydration-input {
  height: 100%;
}

.error-message {
  color: black;
}
